

<footer>
    <h1>Testing</h1>
    <div class="navContainer">
        <div class="home">

        </div>
        <div class="search">

        </div>
        <div class="watchlist">

        </div>
        <div class="account">

        </div>
    </div>
</footer>

</body>
</html>