

<footer>
    <nav id="footerNav">
        <div class="iconContainer" id="home"> 
            <a href="/">
                <i class="fas fa-home fa-lg"></i>
                <p>Home</p>
            </a>
        </div>
        <div class="iconContainer" id="search">
            <a href="/search">
                <i class="fas fa-search fa-lg"></i>
                <p>Search</p>
            </a>
        </div>
        <div class="iconContainer" id="watchlist">
            <a href="/watchlist">
                <i class="fas fa-film fa-lg"></i>
                <p>Watchlist</p>
            </a>
        </div>
        <div class="iconContainer" id="watched">
            <a href="/watched">
                <i class="fas fa-video"></i>
                <p>Watched</p>
            </a>
        </div>
        <div class="iconContainer" id="account">
            <a href="/account">
                <i class="fas fa-user fa-lg"></i>
                <p>Account</p>
            </a>
        </div>
    </nav>
</footer>

<!-- <script src="/javascript/glide.min.js"></script> -->
<script src="/dist/glide.min.js"></script>
<script>

    let config = {
        type: 'slider',
        perView: 3,
        autoplay: 3000,
        hoverpause: true,
        animationTimingFunc: "ease-out",
        animationDuration: 800,
        rewind:true,
        perTouch: 3, 
        gap:15,
        peek: {
            before: 0,
            after: 50,
        },
    }

    let castConfig = {
        type: "carousel",
        perView: 3,
        autoplay: 3000,
        hoverpause: true,
        animationTimingFunc: "ease-out",
        animationDuration: 800,
        perTouch: 3, 
        gap:15,
        peek: {
            before: 0,
            after: 50,
        },
    }

    let carousels = document.querySelectorAll('.glide');
    carousels.forEach(element => {
        new Glide(element, config).mount()
    });

    new Glide('.castGlide', castConfig).mount();
    // new Glide('.glide1', config).mount()
  </script>

</body>
</html>