

<footer>
    <nav>
        <div class="iconContainer" id="home"> 
            <a href="">
                <i class="fas fa-home fa-lg"></i>
                <p>Home</p>
            </a>
        </div>
        <div class="iconContainer" id="search">
            <a href="">
                <i class="fas fa-search fa-lg"></i>
                <p>Search</p>
            </a>
        </div>
        <div class="iconContainer" id="watchlist">
            <a href="">
                <i class="fas fa-film fa-lg"></i>
                <p>Watchlist</p>
            </a>
        </div>
        <div class="iconContainer" id="account">
            <a href="">
                <i class="fas fa-user fa-lg"></i>
                <p>Account</p>
            </a>
        </div>
    </nav>
</footer>

<!-- <script src="/javascript/glide.min.js"></script> -->
<script src="/dist/glide.min.js"></script>
<script>
    let config = {
        type: 'slider',
        perView: 4,
        autoplay: 3000,
        hoverpause: true,
        bound: true,
        peek: {
            before: 0,
            after: 50,
        },

        // gap:5,
    }

    let carousels = document.querySelectorAll('.glide');
    carousels.forEach(element => {
        new Glide(element, config).mount()
    });
    // new Glide('.glide1', config).mount()

  </script>
</body>
</html>