<div class="sectionContainer">

  <div class="titleContainer">
    <h2>Coming Soon</h2>
    <a href="">See all</a>
  </div>

  <div class="glide carouselContainer" >
    <div class="glide__track" data-glide-el="track">
        
      <ul class="glide__slides">
          <a href="">
            <li class="glide__slide">
                <img src="/images/eternals.jpg" alt="">
            </li>
          </a>
          <a href="">
            <li class="glide__slide">
                <img src="/images/REDnoTICE.jpg" alt="">
            </li>
          </a>
          <a href="">
            <li class="glide__slide">
                <img src="/images/DarkKnight.jpg" alt="">
            </li>
          </a>
          <a href="">
            <li class="glide__slide">
                <img src="/images/DarkKnight.jpg" alt="">
            </li>
          </a>
          <a href="">
            <li class="glide__slide">
                <img src="/images//Spider-Man.jpeg" alt="">
            </li>
          </a>





          <a href="">
            <li class="glide__slide">
                <img src="/images/eternals.jpg" alt="">
            </li>
          </a>
          <a href="">
            <li class="glide__slide">
                <img src="/images/REDnoTICE.jpg" alt="">
            </li>
          </a>
          <a href="">
            <li class="glide__slide">
                <img src="/images/DarkKnight.jpg" alt="">
            </li>
          </a>
          <a href="">
            <li class="glide__slide">
                <img src="/images/DarkKnight.jpg" alt="">
            </li>
          </a>
          <a href="">
            <li class="glide__slide">
                <img src="/images//Spider-Man.jpeg" alt="">
            </li>
          </a>

          <a href="">
            <li class="glide__slide">
                <img src="/images/eternals.jpg" alt="">
            </li>
          </a>
          <a href="">
            <li class="glide__slide">
                <img src="/images/REDnoTICE.jpg" alt="">
            </li>
          </a>
          <a href="">
            <li class="glide__slide">
                <img src="/images/DarkKnight.jpg" alt="">
            </li>
          </a>
          <a href="">
            <li class="glide__slide">
                <img src="/images/DarkKnight.jpg" alt="">
            </li>
          </a>
          <a href="">
            <li class="glide__slide">
                <img src="/images//Spider-Man.jpeg" alt="">
            </li>
          </a>
          <a href="">
            <li class="glide__slide">
                <img src="/images/eternals.jpg" alt="">
            </li>
          </a>
          <a href="">
            <li class="glide__slide">
                <img src="/images/REDnoTICE.jpg" alt="">
            </li>
          </a>
          <a href="">
            <li class="glide__slide">
                <img src="/images/DarkKnight.jpg" alt="">
            </li>
          </a>
          <a href="">
            <li class="glide__slide">
                <img src="/images/DarkKnight.jpg" alt="">
            </li>
          </a>
          <a href="">
            <li class="glide__slide">
                <img src="/images//Spider-Man.jpeg" alt="">
            </li>
          </a>
      </ul>
    </div>
  </div>

</div>

