<%- include ('partials/header.ejs')  -%> 

<main id="accountPage">

    <section class="container">
        <h1>Joshua Duke</h1>
        <p>dukejoshua24@gmail.com</p>
        <a href="">Edit Profile</a>
    </section>

    <section class="container">
        <p>Average Movie Rating 
            <br> 
            <span>69%</span>
        </p>
        <div class="stats">
            <p>Movies watched: 1</p>
            <p>See all stats >></p>
        </div>
    </section>
    <section class="container">
        Themes
    </section>
    <section class="container">

        <button class="deleteBtn">Delete Account Information</button>
    </section>
    <p class="copyright">Created by Joshua Duke 2021</p>
</main>
<%- include ('partials/footer.ejs')  -%> 