<%- include ('partials/header.ejs')  -%> 

<nav id="reviewNav">
    <a href="/">Back</a>
</nav>

<main id="reviewPage">
    <div id="reviewPageContainer">
        <form action="" method="post">
            <div>
                <p>What do you think of:</p>
                <h1><%= data.title %></h1>
            </div>

            <div class="rating">
                <label for="">How would you rate this movie</label>
                <div class="star-outer">
                    <div class="star-inner"></div>
                </div>
                <p><input type="number">/100</p>
            </div>

            <div id="reviewContainer">
                <h3>Review:</h3>
                <textarea name="" id="" cols="30" rows="10" placeholder="Give a short review of what you thought about <%= data.title%>"></textarea>
            </div>

            <div class="recommendation ">
                <div class="box">
                    <p>Would recommend?</p>
                    <div class="switchField">

                        <input type="radio" name="recommend" value="yes" id="recommend-Yes">
                        <label for="recommend-Yes">Yes</label>    

                        <input type="radio" name="recommend" value="no" id="recommend-No">
                        <label for="recommend-No">No</label>

                    </div>
                </div>
                <div class="box">
                    <p for="rewatch">Would Rewatch</p>
                    <div class="switchField">
                        <input type="radio" name="rewatch" value="yes" id="rewatch-Yes">
                        <label for="rewatch-Yes">Yes</label>

                        <input type="radio" name="rewatch" value="no" id="rewatch-No">
                        <label for="rewatch-No">No</label>
        
                    </div>
                </div>
            </div>
            <div id="completeReview">
                <div>
                    <p>Date Watched</p>
                    <input type="date" name="dateWatched" id="dateWatched">
                </div>
                <button type="submit">Add</button>
            </div>
        </form>
    </div>
</main>

<%- include ('partials/footer.ejs')  -%> 

