<%- include ('partials/header.ejs')  -%> 

<main id="homeContainer">
    <div class="sectionContainer">

        <div class="titleContainer">
            <h2>Coming Soon</h2>
            <a href="">See all</a>
        </div>

        <div class="glide carouselContainer" >
            <div class="glide__track" data-glide-el="track">
                
              <ul class="glide__slides">
                  <a href="">
                    <li class="glide__slide">
                        <img src="/images/eternals.jpg" alt="">
                    </li>
                  </a>
                  <a href="">
                    <li class="glide__slide">
                        <img src="/images/REDnoTICE.jpg" alt="">
                    </li>
                  </a>
                  <a href="">
                    <li class="glide__slide">
                        <img src="/images/DarkKnight.jpg" alt="">
                    </li>
                  </a>
                  <a href="">
                    <li class="glide__slide">
                        <img src="/images/DarkKnight.jpg" alt="">
                    </li>
                  </a>
                  <a href="">
                    <li class="glide__slide">
                        <img src="/images//Spider-Man.jpeg" alt="">
                    </li>
                  </a>
              </ul>
            </div>

            <!-- <div class="glide__arrows" data-glide-el="controls">
                <button class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
                <button class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>
              </div>
          </div> -->
        
        <!-- <section class="carouselContainer">
            <ul>
                <a href="">
                    <li>
                        
                    </li>
                </a>
                <a href="">
                    <li>
                        
                    </li>
                </a>
                <a href="">
                    <li>
                        
                    </li>
                </a>
                <a href="">
                    <li>
                        
                    </li>
                </a>
            </ul>
        </section> -->

    </div>
    <div class="sectionContainer">
        <div class="titleContainer">
            <h2></h2>
            <a href=""></a>
        </div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="sectionContainer">
        <div class="titleContainer">
            <h2></h2>
            <a href=""></a>
        </div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</main>




<%- include ('partials/footer.ejs')  -%> 