<%- include ('partials/header.ejs') %>

<main class="register">
    <section id="logInContainer">
        <h1>Log In</h1>
        <div class="credentialsContainer">
            <form action="/login" method="POST">
                <input type="email" name="username" placeholder="Email" required>
                <div class="passContainer">
                    <input type="password" name="password" id="password" placeholder="Password" required>
                    <span class="viewPassword" onclick="myFunction('password')">View</span>
                </div>
                <p class="or">or</p>

                <div class="socialBody">
                    <a class="btn-social btn-google socialBody" href="/auth/google" role="button">
                      <i class="fab fa-google"></i>
                      Log In with Google
                    </a>
                </div>
                
                <p>
                    Don't have an account?
                    <span><a href="/register">Register</a></span>
                </p>
                <button  type="submit">Continue</button>
            </form>
        </div>
    </section>
    
</main>

<script src="javascript/script.js"></script>
<script>
    //password 
    function myFunction(pass) {
      var x = document.getElementById(pass);
      if (x.type === "password") {
          x.type = "text";
      } else {
          x.type = "password";
      }
  }
</script>
</body>
</html>