<%- include ('partials/header.ejs') %>

<main class="register">
    <section id="logInContainer">
        <h1>Log In</h1>
        <div class="credentialsContainer">
            <form action="/login" method="POST">
                <input type="email" name="username" id="" placeholder="Email" required>
                <input type="text" name="password" id="" placeholder="Password" required>
                <p class="or">or</p>

                <div class="socialBody">
                    <a class="btn-social btn-google socialBody" href="/auth/google" role="button">
                      <i class="fab fa-google"></i>
                      Log In with Google
                    </a>
                </div>
                
                <p>
                    Don't have an account?
                    <span><a href="/register">Register</a></span>
                </p>
                <button  type="submit">Continue</button>
                <!-- <p><class="forgottenPassword" href="">Forgot your password</class=></p> -->
            </form>
        </div>
    </section>
    
</main>