<%- include ('partials/header.ejs') %>

<main class="register">
    <section id="logInContainer">
        <h1>Register</h1>
        <div class="credentialsContainer">

            <form action="/register" method="post">
                <input type="email" name="username" id="" placeholder="Email" required>
                <input type="text" name="fullName" id="" placeholder="Full Name" required>

                <div class="passContainer">
                    <input type="password" name="password" id="password" placeholder="Password" required>
                    <span class="viewPassword" onclick="myFunction('password')">View</span>
                </div>

                <div class="passContainer">
                    <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" required>
                    <span class="viewPassword" onclick="myFunction('confirmPassword')">View</span>
                </div>

                <p class="or">or</p>

                <div class="socialBody">
                    <a class="btn-social btn-google socialBody" href="/auth/google" role="button">
                      <i class="fab fa-google"></i>
                      Log In with Google
                    </a>
                </div>
                
                <p>
                    Agree to the terms and conditions below.
                </p>
                <button type="submit">Agree and Continue</button>
                <p>Already have an account? <a href="/login">Login</a></p>
            </form>
        </div>
    </section>
    
</main>

<script src="javascript/script.js"></script>
<script>
    //password 
    function myFunction(pass) {
      var x = document.getElementById(pass);
      if (x.type === "password") {
          x.type = "text";
      } else {
          x.type = "password";
      }
  }
</script>

</body>
</html>