<%- include ('partials/header.ejs') %>

<main class="register">
    <section id="logInContainer">
        <h1>Register</h1>
        <div class="credentialsContainer">

            <form action="" method="post">
                <input type="text" name="email" id="" placeholder="Email" required>
                <input type="text" name="username" id="" placeholder="Username" required>
                <input type="text" name="password" id="" placeholder="Password" required>
                <input type="text" name="password" id="" placeholder="Confirm Password" required>
                <p class="or">or</p>
                <button><i class="fab fa-google fa-lg"></i>Continue with Google</button>
                <p>
                    Agree to the terms and conditions below.
                </p>
                <button>Agree and Continue</button>
            </form>
        </div>
    </section>
    
</main>