<%- include ('partials/header.ejs') %>

<main class="register">
    <section id="logInContainer">
        <h1>Register</h1>
        <div class="credentialsContainer">

            <form action="/register" method="post">
                <input type="text" name="username" id="" placeholder="Email" required>
                <input type="text" name="fullName" id="" placeholder="Full Name" required>
                <input type="text" name="password" id="" placeholder="Password" required>
                <input type="text" name="confirmPassword" id="" placeholder="Confirm Password" required>
                <p class="or">or</p>
                <button><i class="fab fa-google fa-lg"></i>Continue with Google</button>
                <p>
                    Agree to the terms and conditions below.
                </p>
                <button type="submit">Agree and Continue</button>
                <p>Already have an account? <a href="/login">Login</a></p>
            </form>
        </div>
    </section>
    
</main>