<%- include ('partials/header.ejs')  -%> 

<main id="homeOptions">
    <div id="optionsHeader">
        <a href="/search"> <i class="fas fa-chevron-left"></i> Back</a>
        <h2><%= option %></h2>
    </div>

    <section id="optionsContainer">
        <!-- Loop through each item  -->

        <a href="#">
            <div class="gridItem">
                <img src="/images/Spider-Man.jpeg" alt="">
    
                <div class="content">
                    <h3>Spider-Man No Way Home</h3>
                    <span>December 17, 2021</span>
                    <p>Action/Adventure/ Sci-Fi</p>
                </div>
            </div>
        </a>

        <a href="#">
            <div class="gridItem">
                <img src="/images/Spider-Man.jpeg" alt="">
    
                <div class="content">
                    <h3>Spider-Man No Way Home</h3>
                    <span>December 17, 2021</span>
                    <p>Action/Adventure/ Sci-Fi</p>
                </div>
            </div>
        </a>

        <a href="#">
            <div class="gridItem">
                <img src="/images/Spider-Man.jpeg" alt="">
    
                <div class="content">
                    <h3>Spider-Man No Way Home</h3>
                    <span>December 17, 2021</span>
                    <p>Action/Adventure/ Sci-Fi</p>
                </div>
            </div>
        </a>

        <a href="#">
            <div class="gridItem">
                <img src="/images/Spider-Man.jpeg" alt="">
    
                <div class="content">
                    <h3>Spider-Man No Way Home</h3>
                    <span>December 17, 2021</span>
                    <p>Action/Adventure/ Sci-Fi</p>
                </div>
            </div>
        </a>
        
    </section>
</main>

<%- include ('partials/footer.ejs')  -%> 