<%- include ('partials/header.ejs')  -%> 


<main id="searchPage">
    <div id="searchContainer">
        <form action="">
            <i class="fas fa-search"></i>
            <input type="search" placeholder="Search for a movie">

        </form>
    </div>

    <section id="searchOptionsContainer">
        <!-- Loop through each item  -->

        <a href="/search/topMovies" class="gridItem">
            <div >
                <img src="/images/eternals.jpg" alt="">
    
                <div class="content">
                    <h3>Top Movies</h3>
                </div>
            </div>
        </a>

        <a href="/search/alltimebo" class="gridItem">
            <div>
                <img src="/images/Spider-Man.jpeg" alt="">
    
                <div class="content">
                    <h3>All time Box Office</h3>
                </div>
            </div>
        </a>

        <a href="/search/mostpopular" class="gridItem">
            <div >
                <img src="/images/DarkKnight.jpg" alt="">
    
                <div class="content">
                    <h3>Top Movies</h3>
                </div>
            </div>
        </a>

        <a href="/search/topboxoffice" class="gridItem">
            <div>
                <img src="/images/Spider-Man.jpeg" alt="">
    
                <div class="content">
                    <h3>Top Box Office</h3>
                </div>
            </div>
        </a>
        
    </section>

</main>


<%- include ('partials/footer.ejs')  -%> 