#reviewNav{
    width: 100%;
    background-color:rgba(255, 255, 255, 0.7);
    padding:20px;
}

#reviewPage{
    color:#fff;
    padding:20px;
}

#reviewContainer{
    div{
        margin:10px 0;
    }
    
    .box{
        width:100%;
        background-color: #e4e4e4;
        padding:10px;
    }
}