@use "variables" as v;

.register{
    width:100%;
    min-height:100vh;
    background-image: url('/images/darkKnightTextLess.jpeg');
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#logInContainer{
    width: 100%;
    position: absolute;
    bottom:0;
    margin-bottom: 60px;
    padding:0 20px;

    h1{
        text-align: left;
        font-size: 2em;
        padding:10px 0;
        margin-bottom:10px;
        color:#fff;
    }

    .credentialsContainer{
        padding:10px 20px 20px 20px;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 10px;
    }

    input{
        width:100%;
        border-radius: 5px;
        border:none;
        padding:10px;
        &:focus{
            outline: none;
        }
        margin:5px 0;
    }

    .passContainer{
        width: 100%;
        height:auto;
    }

    .passContainer span{
        position: absolute;
        padding:15px 0;
        right:50px;
        font-size: 0.9em;
        color:#757575;
        cursor: pointer;
    }

    a{
        color: v.$secondary;
    }

    p{
        margin:10px 0;
        color:#fff;
    }

    button{
        width: 100%;
        padding:10px;
        margin:5px 0;
        border-radius: 5px;
        border:none;
        font-weight:bold;
        cursor:pointer;
        background-color: v.$secondary;
        color:#fff;
    }

    .socialBody{
        width:100%;
        display: inline-block;
        height:38px;
        padding-top: 7px;
        a{
            border:1px solid rgba(0,0,0,0.2);
            color:#fff;
            width:100%;
            border-radius: 10px;
        }
    }

    button:nth-of-type(2){
        background-color: #175AA9;
        color:#fff;

    }

    .or{
        text-align: center;
    }

}