@use 'variables' as v;
@import '_selectedMovie';
@import '_watchlist';
@import '_watched';
@import '_addReview';
@import '_selectedWatched';
@import '_account';
@import '_register';


$headerYellow :#FBBC04;

*{
    margin:0;
    padding:0;
    line-height: 1.4em;
    box-sizing: border-box;
}

body{
    background-image: none;
    background-color:#000 ;
}

h1, h2, h3, h4{
    font-family: v.$header;
}

p, a, span{
font-family: v.$body;
}

a{
    text-decoration: none;
}

footer{
    width:100%;
    padding:20px 15px;
    position: fixed;
    bottom:0;
    background-color: v.$primaryBackground;
    color: v.$text;

    a{
        color:v.$text
    }
}

#footerNav{
    display: flex;
    justify-content: center;

    .iconContainer{
        margin:0 10px;
        text-align: center;
    }

    p{
        font-size:0.8em;
        
    }
}

#homeContainer{

    margin-bottom:120px;

    .sectionContainer{
        color:v.$accent;

        a{
            color:lighten(v.$secondary, 30);
        }

        h2{
            font-weight: normal;
        }
    }

    .carouselContainer{
        a{
            display: inline-block;
        }

        li{
            display: inline;

            p{
                font-size: 0.5em;
                color:v.$text;
            }
        }

        img{
            width:110%;
            max-width: 300px;
            min-width: 70px;
            height: auto;
        }
    }

    .titleContainer{
        padding:20px 20px 10px 20px;
        display: flex;
        justify-content: space-between;

        a{
            display: inline-block;
        }
    }
}

#homeOptions{

    margin-bottom:120px;
}

#optionsHeader{
    padding:20px 25px;
    display: flex;
    justify-content: space-between;

    h2{
        color:v.$accent;
    }

    a{
        color: lighten(v.$secondary, 30);
    }
}

#optionsContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin:20px 25px;
    justify-items: center;

    .gridItem{
        position: relative;
        height:auto;
    }

    .content{
        padding:5px 10px 10px 10px;
        width:100%;
        position: absolute;
        bottom:6px;
        left:0;
        color: v.$text;
        background-color:rgba($color: v.$primaryBackground, $alpha: 0.8);

        h3{
            width:100%;
        }
    }

    h3, span, p{
        display: block;
        font-size: 0.9em;
    }

    span{
        font-size:0.7em;
    }

    .gridItem img{
        width:100%;
        max-width: 300px;
        height:auto;
    }
}

// Search Page **************************************** //

#searchPage{
    padding-bottom:70px;
}

#searchContainer{
    width: 100%;
    padding:20px;

    input{
        width:100%;
        border-radius: 5px;
        border:none;
        background-color: v.$primaryAlternate;
        color:v.$text;
        padding:5px 10px 5px 40px;
        font-size:1.1em;
        &:focus{
            outline:none;
        }
    }

    .fa-search{
        position: absolute;
        top:28px;
        left:35px;
        color:v.$text;
    }

}


#searchOptionsContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin:20px 25px;
    justify-items: center;

    h3{
        text-align: center;
    }

    .gridItem{
        position: relative;
        height:auto;
    }

    .content{
        padding:15px 10px 15px 10px;
        position: absolute;
        width: 100%;
        bottom:6px;
        left:0;
        color: v.$text;
        background-color:rgba($color: v.$primaryBackground, $alpha: 0.8);
    }

    .gridItem img{
        width:100%;
        max-width: 300px;
        height:auto;
    }
}

#completedSearchContainer{

    .completedSearch{
        padding:0 20px;
        border-bottom:1px solid v.$primaryBackground;
    }
}


.searchItem{
    width:100%;
    height:auto;

    .group1{
        display: flex;
        flex-direction: row;

        div{
            margin-left:10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding:5px 0;
        }

        h3{
            color:v.$text;
        }

        p{
            font-size: 0.8em;
            color: lighten(v.$primaryAlternate, 60);
            line-height: 1.4em;;
        }

        img{
            width:17%;
            padding:3px;
        }

    }
}

// STAR RATING

.movieRating{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
.stars-outer{
    position: relative;
    display: inline-block;
    margin-right:5px;
}

.stars-inner{
    position: absolute;
    top:0;
    left:0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    margin-right:5px;
}

.stars-outer::before{
    content: "\f005 \f005 \f005 \f005 \f005 \f005 \f005 \f005 \f005 \f005";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;

}

.stars-inner::before{
    content: "\f005 \f005 \f005 \f005 \f005 \f005 \f005 \f005 \f005 \f005";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color:#f8ce0b;
}