// Required Core Stylesheet
// @import "node_modules/@glidejs/glide/src/assets/sass/glide.core";

*{
    margin:0;
    padding:0;
    line-height: 1.6rem;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color:#000 ;
}

a{
    text-decoration: none;
}

footer{
    width:100%;
    padding:20px;
    position: fixed;
    bottom:0;
    background-color: #241616;
    color:#fff;

    a{
        color:#fff;
    }
}

nav{
    // display: grid;
    // grid-template-columns: repeat(4, 1fr);
    display: flex;
    justify-content: center;

    .iconContainer{
        margin:0 15px;
        text-align: center;
    }

    p{
        font-size:0.8em;
        
    }
}

#homeContainer{

    margin-bottom:120px;

    .sectionContainer{
        color:#FBBC04;
        a{
            color:#5FA0ED;
        }

        h2{
            font-weight: normal;
        }
    }

    .carouselContainer{
        a{
            display: inline-block;
        }

        li{
            display: inline;
        }

        img{
            width:110%;
            max-width: 300px;
            min-width: 70px;
            height: auto;
        }
    }

    .titleContainer{
        padding:20px 20px 10px 20px;
        display: flex;
        justify-content: space-between;

        a{
            display: inline-block;

        }
    }
}