#moviePage {
  width: 100%;
  height: 100vh;
}

#moviePage img {
  max-width: 100%;
}

#movieContainer {
  width: 100%;
  height: 600px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(black));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), black);
  border-radius: 50px 50px 0 0;
  position: absolute;
  top: 40vh;
  padding-bottom: 60px;
}

#movieContainer .movieContent {
  padding: 30px 30px 80px 30px;
  color: #fff;
}

#movieContainer .header, #movieContainer .genre-watched, #movieContainer .rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 0;
}

#movieContainer .header .watchlist, #movieContainer .genre-watched .watchlist, #movieContainer .rating .watchlist {
  text-align: center;
}

#movieContainer .watchlist button {
  background: none;
  border: none;
  cursor: pointer;
}

#movieContainer .watchlist .fa-bookmark {
  color: #fff;
}

#movieContainer .genre-watched .genre {
  padding-top: 7px;
}

#movieContainer .genre-watched button {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #494949;
  cursor: pointer;
}

#movieContainer h1 {
  color: #fff;
}

#descriptionContainer, #castContainer {
  margin-top: 10px;
}

#descriptionContainer h2, #castContainer h2 {
  font-weight: normal;
  padding: 10px 0;
}

#castContainer img {
  width: 100%;
  height: auto;
}

h1 {
  text-align: center;
}

header {
  background-color: #848484;
  padding: 20px;
}

.headerContent {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.watchlistItem {
  width: 100%;
  height: auto;
  background-color: #e4e4e4;
  border-bottom: 1px solid #848484;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 6fr 1fr;
      grid-template-columns: 6fr 1fr;
}

.watchlistItem h3 {
  font-size: 1em;
}

.watchlistItem .group1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.watchlistItem .group1 div {
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.watchlistItem .group2 {
  text-align: right;
  margin: 10px 10px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.watchlistItem .group2 button {
  margin-left: auto;
  margin-right: 0;
  width: 30px;
}

.watchlistItem img {
  width: 25%;
}

#reviewNav {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
}

#reviewPage {
  color: #fff;
  padding: 20px 20px 70px 20px;
}

#reviewPageContainer div {
  margin: 10px 0;
}

#reviewPageContainer h1 {
  padding: 20px 0;
}

#reviewPageContainer .recommendation {
  width: 100%;
  background-color: #e4e4e4;
  padding: 10px 20px;
  border-radius: 10px;
}

#reviewPageContainer .recommendation p {
  color: #000;
}

#reviewPageContainer textarea {
  width: 100%;
  resize: none;
  border-radius: 10px;
  padding: 20px;
  margin-top: 10px;
  background-color: #e4e4e4;
}

#reviewPageContainer .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#reviewPageContainer .switchField {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
}

#reviewPageContainer .switchField input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
}

#reviewPageContainer .switchField label {
  background-color: #e4e4e4;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  line-height: 1;
  text-align: center;
  padding: 8px 16px;
  margin-right: -1px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

#reviewPageContainer .switchField label:hover {
  cursor: pointer;
}

#reviewPageContainer .switchField #rewatch-Yes:checked + label,
#reviewPageContainer .switchField #recommend-Yes:checked + label {
  background-color: #3B9044;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#reviewPageContainer .switchField #rewatch-No:checked + label,
#reviewPageContainer .switchField #recommend-No:checked + label {
  background-color: #963535;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#reviewPageContainer .switchField label:first-of-type {
  border-radius: 10px 0 0 10px;
}

#reviewPageContainer .switchField label:last-of-type {
  border-radius: 0 10px 10px 0;
}

#reviewPageContainer #completeReview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#reviewPageContainer #completeReview input, #reviewPageContainer #completeReview button {
  border-radius: 10px;
  border: none;
}

#reviewPageContainer #completeReview input {
  padding: 0 10px;
}

#reviewPageContainer #completeReview button {
  padding: 0 20px;
  cursor: pointer;
}

#accountPage {
  padding: 20px;
}

#accountPage .container {
  width: 100%;
  height: auto;
  background-color: #e4e4e4;
  margin: 10px 0;
  border-radius: 10px;
  text-align: center;
}

#accountPage .copyright {
  color: #fff;
}

#accountPage .deleteBtn {
  width: 90%;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid red;
  border-radius: 10px;
}

.register {
  width: 100%;
  height: 100vh;
  background-image: url("/images/darkKnightTextLess.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

#logInContainer {
  width: 100%;
  position: absolute;
  bottom: 0;
  margin-bottom: 60px;
  padding: 0 20px;
}

#logInContainer h1 {
  text-align: left;
  font-size: 2em;
  padding: 10px 0;
  margin-bottom: 10px;
  color: #fff;
}

#logInContainer .credentialsContainer {
  padding: 10px 20px 20px 20px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
}

#logInContainer input {
  width: 100%;
  border-radius: 10px;
  border: none;
  padding: 10px;
  margin: 5px 0;
}

#logInContainer input:focus {
  outline: none;
}

#logInContainer .passContainer {
  width: 100%;
  height: auto;
}

#logInContainer .passContainer span {
  position: absolute;
  padding: 15px 0;
  right: 50px;
  font-size: 0.9em;
  color: #757575;
  cursor: pointer;
}

#logInContainer a {
  color: #175AA9;
}

#logInContainer p {
  margin: 10px 0;
  color: #fff;
}

#logInContainer button {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

#logInContainer button .fa-google {
  float: left;
  margin-top: 5px;
  color: green;
}

#logInContainer button:nth-of-type(2) {
  background-color: #175AA9;
  color: #fff;
}

#logInContainer .or {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1.4rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-image: none;
  background-color: #000;
}

a {
  text-decoration: none;
}

footer {
  width: 100%;
  padding: 20px;
  position: fixed;
  bottom: 0;
  background-color: #241616;
  color: #fff;
}

footer a {
  color: #fff;
}

#footerNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footerNav .iconContainer {
  margin: 0 15px;
  text-align: center;
}

#footerNav p {
  font-size: 0.8em;
}

#homeContainer {
  margin-bottom: 120px;
}

#homeContainer .sectionContainer {
  color: #FBBC04;
}

#homeContainer .sectionContainer a {
  color: #5FA0ED;
}

#homeContainer .sectionContainer h2 {
  font-weight: normal;
}

#homeContainer .carouselContainer a {
  display: inline-block;
}

#homeContainer .carouselContainer li {
  display: inline;
}

#homeContainer .carouselContainer img {
  width: 110%;
  max-width: 300px;
  min-width: 70px;
  height: auto;
}

#homeContainer .titleContainer {
  padding: 20px 20px 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#homeContainer .titleContainer a {
  display: inline-block;
}

#homeOptions {
  margin-bottom: 120px;
}

#optionsHeader {
  padding: 20px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#optionsHeader h2 {
  color: #FBBC04;
}

#optionsContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin: 20px 25px;
  justify-items: center;
}

#optionsContainer .content {
  padding: 0 10px 10px 10px;
}

#optionsContainer h3, #optionsContainer span, #optionsContainer p {
  display: inline-block;
  font-size: 0.9em;
}

#optionsContainer span {
  font-size: 0.7em;
}

#optionsContainer .gridItem {
  display: inline-block;
  width: 100%;
  max-width: 300px;
  background-color: #e4e4e4;
}

#optionsContainer .gridItem img {
  width: 100%;
  max-width: 300px;
  height: auto;
}

#searchPage {
  padding-bottom: 70px;
}

#searchContainer {
  width: 100%;
  background-color: #494949;
  padding: 20px 30px;
}

#searchContainer input {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #e4e4e4;
  padding: 5px 10px 5px 40px;
  font-size: 1.1em;
}

#searchContainer input:focus {
  outline-color: #000;
}

#searchContainer .fa-search {
  position: absolute;
  top: 28px;
  left: 45px;
}

#searchOptionsContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin: 20px 25px;
  justify-items: center;
}

#searchOptionsContainer .content {
  padding: 0 10px 10px 10px;
}

#searchOptionsContainer h3 {
  text-align: center;
}

#searchOptionsContainer .gridItem {
  display: inline-block;
  max-width: 300px;
  background-color: #e4e4e4;
}

#searchOptionsContainer .gridItem img {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.searchItem {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #202124;
}

.searchItem .group1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.searchItem .group1 div {
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 0;
}

.searchItem .group1 h3 {
  color: #fff;
}

.searchItem .group1 p {
  font-size: 0.8em;
  color: #848484;
  line-height: 1em;
}

.searchItem .group1 img {
  width: 17%;
  padding: 3px;
}

.movieRating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.stars-outer {
  position: relative;
  display: inline-block;
  margin-right: 5px;
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  margin-right: 5px;
}

.stars-outer::before {
  content: "\f005 \f005 \f005 \f005 \f005 \f005 \f005 \f005 \f005 \f005";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005 \f005 \f005 \f005 \f005 \f005";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: #f8ce0b;
}
/*# sourceMappingURL=main.css.map */